* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Barlow', sans-serif;
}

body {
    background-color: rgba(237, 242, 248, 100%);
} 

.main-testimonials {
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
    font-size: 1.3rem;
}

.testimonials {
    border-radius: 10px;
    padding: 25px;
    color: white;
    background-color: yellow;
    box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.1);
}

.testimonials-profile{
    height: auto;
    display: flex;
    align-items: center;
}

.profile__data {
    display: inline-flex;
    flex-direction: column;
    margin-left: 13px;
}

.profile-image {
    border-radius: 50%;
    height: 40px;
    border: 1px solid white;
}

.profile-name {
    font-size: 1.4rem;
    font-weight: bolder;
}

.profile-ocupation {
    opacity: 50%;
}

.testimonials-title {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0;
    z-index: 1;
}

.paragraphs {
    opacity: 70%;
}

.testimonials__Daniel {
    position: relative;
    grid-column: 1/3;
    background-color: rgba(115, 63, 200, 100%);
}

.testimonials__Jonathan {
    background-color: rgba(73, 85, 107, 100%);
}

.testimonials__Jeanette {
    grid-row: 2/3;
    background-color: white;
    color: rgba(73, 85, 107, 100%);
}

.testimonials__Patrick {
    grid-row: 2/3;
    grid-column: 2/4;
    background-color:rgba(24, 32, 45, 100%);
}

.testimonials__Kira {
    grid-row: 1/3;
    background-color: white;
    color: rgba(73, 85, 107, 100%);
}

.quotes {
    position: absolute;
    right: 6rem;
    top: 0px;
    z-index: 0;
    opacity: 70%;
}

@media (min-width:1366px) {
    .main-testimonials {
        padding: 2% 10%;
    }
}